<section class="flex justify-evenly h-20 items-center bg-zinc-100">
  <img src="/assets/images/header/logo.png" alt="Logo" class="flex h-14" />

  <form class="flex">
    <div>
      <input
        class="w-80 py-2 px-4 rounded-full focus:outline-none focus:ring-orange-400 focus:ring-1"
        type="text"
        placeholder="Search over 1,000,000 recipes..."
        size="30"
      />
    </div>

    <div class="basis-1/2">
      <button
        class="bg-gradient-to-r from-orange-400 to-orange-200 hover:bg-amber-500 text-white font-bold py-2 px-4 rounded-full"
      >
        <span class="font-primary">Search</span>
      </button>
    </div>
  </form>
  <div class="flex text-sm font-primary font-bold text-zinc-500">
    <button class="items-center">
      <span>ADD RECIPE</span>
    </button>
  </div>
  <div class="flex text-sm font-primary font-bold text-zinc-500">
    <button class="items-center">
      <span>BOOKMARKS</span>
    </button>
  </div>
</section>

<!-- <header class="bg-primary_grey">
 
  <form class="search">
    <input
      type="text"
      class="search__field"
      placeholder="Search over 1,000,000 recipes..."
    />
    <button class="btn search__btn">
      <svg class="search__icon">
        <use href="src/img/icons.svg#icon-search"></use>
      </svg>
      <span>Search</span>
    </button>
  </form>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <button class="nav__btn nav__btn--add-recipe">
          <svg class="nav__icon">
            <use href="src/img/icons.svg#icon-edit"></use>
          </svg>
          <span>Add recipe</span>
        </button>
      </li>
      <li class="nav__item">
        <button class="nav__btn nav__btn--bookmarks">
          <svg class="nav__icon">
            <use href="src/img/icons.svg#icon-bookmark"></use>
          </svg>
          <span>Bookmarks</span>
        </button>
        <div class="bookmarks">
          <ul class="bookmarks__list">
            <div class="message">
              <div>
                <svg>
                  <use href="src/img/icons.svg#icon-smile"></use>
                </svg>
              </div>
              <p>No bookmarks yet. Find a nice recipe and bookmark it :)</p>
            </div>

            
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header> -->
